.header {
  padding: 35px;
  text-align: center;
  background: lightblue;
  color: #333;
  font-size: 25px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 210px;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Code from here*/
.navbar a:hover {
  background: lightblue;
  color: black;
}

/* until here. “CSS:Hover Selector.” w3schools.Com, www.w3schools.com/cssref/sel_hover.asp. */


.mainleft {
  width: 74%;
  height: 500px;
  float: left;
  color: #333;
  padding: 5px;
}

.mainright {
  width: 24%;
  height: 500px;
  float: right;
  color: #333;
  padding: 5px;
  background: lightblue;
}

.form {
  padding-left: 10px;
}


/* Code from here*/
.divergent, .hungergames, .harrypotter {
  position: relative;
  width: 50%;
  display: inline;
}

.divergentimage, .hungergamesimage, .harrypotterimage {
  width: 250px;
  height: 250px;
}

.divergentoverlay, .hungergamesoverlay, .harrypotteroverlay {
  position: absolute;
  top: -236px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .8s ease;
  background-color: lightblue;
}

.divergent:hover .divergentoverlay, .hungergames:hover .hungergamesoverlay, .harrypotter:hover .harrypotteroverlay {
  opacity: 1;
}

.divergenttext, .hungergamestext, .harrypottertext {
  color: #333;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* until here. “How TO - Image Hover Overlay.” w3schools.Com, www.w3schools.com/howto/howto_css_image_overlay.asp.  */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: lightblue;
  text-align: center;
  font-style: italic;
}

.instagram, .twitter, .facebook{
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  padding-left: 5px;
}
